<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../css/os-core.css" />
    <link rel="stylesheet" type="text/css" href="../css/os-init.css" />
</head>
<body>
    <div id="page-wrap">
        <div class="outer-container">
            {{template "header.html"}}
            <div>
                <p>
                    This is a test paragraph
                </p>
            </div>
        </div>
    </div>

</body>
</html>