<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/os-init.css">
    <link rel="stylesheet" href="/static/css/os-core.css">
</head>
<body>
    <div id="os-page-wrap">
        <div id="os-content-wrap">
            <div id="login-container">
                <form action="/index" method="post">
                    <label for="username-input">Username: </label>
                    <input type="text" name="username-input" id="username-input">
                    <br>
                    <label for="password-input">Password: </label>
                    <input type="password" name="password-input" id="password-input">
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>