<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/os-init.css">
    <link rel="stylesheet" href="../css/os-core.css">
</head>
<body>
    <div id="os-page-wrap">
        <div id="os-content-wrap">
            <div id="login-container">
                <form action="/login" method="post">
                    <label for="email-input">Email: </label>
                    <input type="text" name="email-input" id="email-input"> {{ .loginError }}
                    <br>
                    <label for="password-input">Password: </label>
                    <input type="password" name="password-input" id="password-input">
                    <br>
                    {{ .csrfField }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>